/*Navbar Styling*/
.nav-left-panel button{
  margin-right: 50px;
  background-color:#dc3545 !important;
  border: none;
  cursor: pointer;
  color: white;
}

.nav-left-panel button:hover{
  color: rgb(99, 26, 26) !important;
}
/*Main page Styling*/
.container-img button{
  position: relative;
  top: 80%;
  left: 3%;
  border:none;
  background-color: rgb(152, 50, 50) !important;
  padding: 8px 25px;
  border-radius: 10px;
  color: white;
}
.container-img button:hover{
  background-color: rgb(110, 27, 27) !important;
  color: white;
  transition: "transform 0.3s ease";
  transform: translateY(-5px);
}
/*Footer*/
.social_media a{
  text-decoration: none;
}
.social_media a img{
width: 48px; height: 48px;

}
/*Menu styling*/
.menu_container{
  margin: 5% auto;
  width: 900px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
/*About Us*/
.aboutus_container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.aboutus_container p{
  width: 950px;
  margin-top: 20px;
}
/*Contact*/

.contact_container{
  width: 1000px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px;
}
.right_side{
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}